.projectimage{
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all ease 300ms;
  margin-left: auto;
  margin-right: auto;
  margin:70px;
  height:300px;
  width:300px;
  background-size: cover;
  background-position:center;
  background-color:rgb(0, 0, 0, 0);
  cursor:pointer;
  text-decoration: none;
  border:none;
}

@media screen and (max-width: 767px) {
  .projectimage{
    margin:20px;
  } 
}

.projectimage figcaption{
  font-size:20px;
  line-height: 30px;
  color:white;
  width:100%;
  height:100%;
  padding:20%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  top:0;
  left:0;
  transform:scale(1.3);
  opacity:0;
  transition:500ms;
  background-color: rgba(0,0,0,.6);
  text-transform:uppercase;
  font-weight:1000;
  user-select: none;
}

.projectimage:hover,
.projectimage:focus{
  transform:scale(1.1);
  z-index:50;
}

.projectimage:hover figcaption,
.projectimage:focus figcaption{
  opacity:1;
  transition:400ms;
}