.section-cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv {
  padding: 5% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  width: 80%;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skills-content {
  margin: 10px 0 40px;
}

@media screen and (max-width: 767px) {
  .skills-content {
    margin-bottom: 70px;
  }

  .photo {
    width: 100%;
  }
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.skills img {
  width: 80px;
  height: 80px;
  margin: 20px;
  object-fit: contain;
}

.skills .language {
  flex-basis: 80px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0px;
  transition: transform 0.3s;
}

@media (min-width: 767px) {
  .skills .language:hover {
    transform: scale(1.3);
  }
}

.skills-title {
  text-align: center !important;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px !important;
}

.language p {
  margin: 0;
  font-size: 14px;
}