#gallery{
  background: #207d69;
background: radial-gradient(circle,rgba(32, 125, 105, 1) 0%, rgba(10, 55, 61, 1) 51%, rgba(0, 4, 5, 1) 100%);
  margin: 0;
  padding: 50px 20px;
  width:100%;
  display:flex;
  justify-content: center;
  flex-basis: 400px;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all ease 1s;
  margin-bottom:100px;
}