
.presentation{
  margin-bottom:110px;
  margin-top:60px;
}

@media screen and (max-width: 767px) {
  .presentation{
    margin-bottom:80px;
    margin-top:30px;
  }
}

.photo{
  width:60%;
  border-radius: 15px;
}

.about{
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.contact{
  display: flex;
  justify-content: center;
  padding:20px;
}

.contact a{
  margin:3% 5%;
}