.header-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar-area {
  background: rgba(0, 0, 0, 0.9);
  border-bottom: 1px rgba(0, 0, 0, 0.9);
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.site-navbar ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.site-navbar ul li a:hover {
  background: rgba(255, 255, 255, .1);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 767px) {
  
  .site-navbar {
    min-height: 60px;
  }

  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }

  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }

  .site-navbar ul li a {
    padding: 25px;
    font-size: 30px !important;
  }

  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, .1);
  }

  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
}

.menu-btn {
  position: fixed;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 2500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.35s ease;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.top-menu.open {
  height: 100vh;
}

.top-menu nav {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.top-menu a {
  font-size: 26px;
  color: white;
  display: flex;
  justify-content: center;
}

.menu-btn {
  display: flex;
}

.topbar {
  display: flex;
}

@media (min-width: 767px) {
  .mat-toolbar {
    display: none;
  }

  .top-menu {
    display: none;
  }

  .topbar {
    display: none !important;
  }

  .menu-btn {
    display: none;
  }
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  z-index: 3000;
  background: black;
}