/* navbar regular css start */
.navbar-area {
  background: rgba(0,0,0,0.9);
  border-bottom: 1px rgba(0,0,0,0.9);
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.site-logo {
  user-select: none;
  font-size: 26px;
  font-weight: 700;
  margin: 0 2% 0 3%;
  color: #fff;
  text-decoration: none;
}
.site-navbar ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.site-navbar ul li a:hover {
  background: rgba(255,255,255,.1);
  transition: all 0.2s ease-in-out;
}
/* navbar regular css end */


/* nav-toggler css start */
.nav-toggler {
  border: none;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}