.modal {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.modal-dialog {
    max-width: 75%;
}

.modal-content {
    background-color: rgb(26, 26, 26);
}

.modal h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.modal h2 {
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
}

.modal-header {
    border-bottom: none;
    padding: 0;
    justify-content: right;
}

.modal p {
    color: rgb(183, 183, 183);
    font-size: 15px;
    word-break: break-word;
    text-align: justify;
    text-align-last: left;
    hyphens: manual;
    word-spacing: -0.05em;
    line-height: 25px;
}

.modal ul li {
    color: rgb(183, 183, 183);
    text-align: left;
    font-size: 15px;
    line-height: 25px;
}

.modal .col-lg-6 {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    color: rgb(34, 12, 12);
}

.modal-button {
    margin-top: 1rem;
    margin-right: 1rem;
    background-image: url("../../assets/cross.png");
    background-size: cover;
    background-color: transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 767px) {
    .modal h1 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .modal h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .modal p {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 5px;
    }

    .modal ul li {
        font-size: 10px;
        line-height: 15px;
    }

    .modal .description {
        padding-top: 0;
    }

    .modal-dialog {
        max-width: 100%;
        height: 100%;
        margin: 0px;
    }

    .modal-body {
        padding: 0.5rem;
    }

    .modal-button {
        width: 25px;
        height: 25px;
    }

    .modal-content {
        height: 100%;
        overflow-y: hidden;
    }
}

.language {
    color: rgb(95, 201, 178);
    border: rgb(95, 201, 178) solid 1px;
    border-radius: 10px;
    width: fit-content;
    margin: 5px 10px;
    padding: 6px;
}

@media screen and (max-width: 767px) {
    .language {
        font-size: 10px;
        padding: 4px;
        margin: 5px;
    }
}

.language-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.raise {
    margin: 30px 30px 0px;
    min-width: max-content;
    width: 25%;
    background-color: white;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    color: rgb(9, 57, 47);
    background-color: rgb(26, 26, 26);
    transition: 0.25s;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 25px;
}

.raise a {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 50px;
}

.raise:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgb(85, 220, 191);
    transform: translateY(-0.25em);
    color: rgb(95, 201, 178);
}

@media screen and (max-width: 767px) {
    .raise {
        width: 30%;
        font-size: 20px;
        margin: 10px;
        padding: 0px 10px;
    }
}

